[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
python-decouple = "*"
django = "~=4.0"
django-bootstrap-v5 = "*"
psycopg2-binary = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.10"
